* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #90d5ff;
    overflow-y: hidden;
    overflow-x: hidden;
}

svg path{
    cursor: pointer;
}

#infoBox {
    display: none; /* Initially hidden */
    position: absolute;
    background: white;
    border: 1px solid red;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000; /* Ensure it's on top */
    transition: opacity 0.2s; /* Smooth transition */
    overflow: auto; /* Enable scrolling */
    max-height: 200px; /* Set a maximum height */
    width: 200px; /* Set a fixed or max width */
    
}

